<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />

<link href="/css/reset.css" th:href="@{/css/reset.css}" rel="stylesheet" />
<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />

<title>Ocean.com</title>
</head>
<body>

<header th:insert="fragments/page_header::pageHeader"></header>

<main>

	<div class="container myPage">
		<h2>マイページ</h2>
		
			<table th:each="mypage : ${mstUser}">
				<tr>
					<th>氏名</th>
					<td>
						<span th:text="${mypage.familyName}" />
						<span th:text="${mypage.firstName}"/>
					</td>
				</tr>
				<tr>
					<th>氏名ふりがな</th>
					<td>
						<span th:text="${mypage.familyNameKana}"/>
						<span th:text="${mypage.firstNameKana}"/>
					</td>
				</tr>
				<tr>
					<th>性別</th>
					<td>
						<span th:if="${mypage.gender == 0}">男性</span>
						<span th:if="${mypage.gender == 1}">女性</span>
					</td>
				</tr>
				<tr>
					<th>ユーザー名<br /><span class="note">（メールアドレス）</span></th>
					<td>
						<span th:text="${mypage.userName}"/>
					</td>
				</tr>
				<tr>
					<th>パスワード</th>
					<td>
						<span  id="asta" ></span><a href="#" class="resetPassword">再設定</a>
						<input type="hidden" id="hiddenPassword" th:value="${mypage.password}"/>
					</td>
				</tr>
				<tr>
  					<th class="buttonArea">
					</th>
					<th class="buttonArea">
					
						<!-- 購入履歴へ遷移 -->
						<a href="/ocean/history/"><button id="historyButton">購入履歴</button></a>
					</th>
				</tr>
			</table>
	
	
	</div>
	<!-- Modal Dialog (パスワード再設定) -->
	<div th:insert="fragments/dialog_reset_password::dialogResetPassword"></div>

</main>

<script>
let asta = '';
let passLength = $('#hiddenPassword').val().length;
for (let i = 0; i < passLength; i++) {
    asta += '*';
}

$('#asta').text(asta);

$(() => {	
		$('#resetPassword').dialog(dialogConfig.resetPassword);
	
		$('a.resetPassword').on('click', (e) => {
		$("#resetPassword").dialog("open");
	});
});
</script>

</body>
</html>